* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: white;
}

/***************** header  *******************/

.header {
    height: 60px;
    width: 100%;
    background-color: #131921;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
}

.logo {
    height: auto;
    width: 14%;
    margin: 0rem 1rem;
}

.logo-pic {
    height: 60px;
    width: 100%;
}

.logo-pic:active {
    transform: scale(0.9);
}



.home {
    height: auto;
    width: 18%;
    margin: 0rem;
    padding-top: 1rem;
    text-align: center;
}

body > div.header > div.home > ul {
    list-style: none;
    padding-left: 0rem;
}

body > div.header > div.home > ul > li {
    display: inline;
    margin: 0.8rem;
}

body > div.header > div.home > ul > li > a {
    text-decoration: none;
}

.home-text {
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
}

.home-text:hover {
    color: rgb(183, 182, 182);
}


.search {
    height: 40px;
    width: 30%;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    transition: all 0.8s;
    margin: 10px 0px;
}

.search-under {
    height: auto;
    width: 90%;
}

.input {
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 17px;
    font-size: 1rem;
    padding: 8px 1rem;
    background-color: white;
    margin: 5px 0px;
}


.input::placeholder {
    font-size: 1rem;
    font-style: italic;
    color: rgb(123, 123, 123);
    padding: 8px 2px;
}

.input:focus {
    outline: none;
}

.search:active {
    transform: scale(0.9);
}

.search-icon {
    height: 40px;
    width: 10%;
}

#serch-icon {
    font-size: 1.2rem;
    font-weight: 400;
    color: black;
    margin: 0.6rem;
}

#serch-icon:active {
    transform: scale(0.8);
}



/*********** up-arrow **************/

.up-arrow {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgb(61, 144, 223);
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    display: none;
    z-index: 999999;
}
  
#arrow {
    font-size: 2rem;
    color: white;
    padding: 0.6rem;
}
  
.up-arrow:hover {
    background-color: rgb(83, 154, 221);
}